web/vendor/* linguist-vendored
web/vendor/twbs/bootstrap/dist/css/* linguist-vendored
web/vendor/twbs/bootstrap/docs/* linguist-documentation 
TfEL[[:space:]]Maths[[:space:]]Pedagogy/phpliteadmin.php linguist-vendored
